/* グレー系 */

$dark_gray:	#666666;
$gray:	#cccccc;
$light_gray:	#eeeeee;
$very_light_gray:	#fafafa;

/* シアン系 */

$dark_cyan:	#448888;
$very_dark_cyan:	darken($dark_cyan, 25%);

/* マゼンタ系 */

$dark_magenta:	#ff00ff;
$magenta:	#ff80ff;
$light_magenta:	#ffc8ff;
$very_light_magenta:	#faecfa;

/* 黄色系 */

$dark_yellow:	#ffff00;
$yellow:	#ffff80;
$light_yellow:	#ffffc8;
$very_light_yellow:	#ffffda;

